<a href="https://colab.research.google.com/github/LorenaAmaya/Talento-Tech/blob/main/TALLER_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##TALLER DE SQL
En este taller vamos a analisar un dataset de las ligas europeas de futbol

In [12]:
#Importar librerias
import pandas as pd
import sqlite3

In [13]:
#importar los datos de entrada
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
#Importar datos de entrada desde la ruta de drive
ruta= '''/content/drive/MyDrive/TALENTO TECH/Practica_SQL'''
database = ruta + 'database.sqlite'

In [35]:
#Creamos la conexion con la BD
conn= sqlite3.connect(database)
print('Conexion exitosa')


tables = pd.read_sql('''SELECT *
                     FROM sqlite_master
                     WHERE type='table';''', conn)
tables

Conexion exitosa

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

##Sentencia SELECT
sta es la consulta más básica y su estructura es muy simple:

Se define lo que se quiere ver después del SELECT
Se eligen las tablas a consultar después del FROM
Las únicas partes imprescindibles de una consulta son el SELECT y el FROM.

Para consultar por todos los campos en una tabla sin tener que escribir uno por uno el nombre de cada campo, se utiliza SELECT *

SELECT * significa que quieres obtener todas las columnas posibles de la tabla consultada. Los datos devueltos se almacenan en una tabla de resultados, denominada conjunto de resultados.

Es una buena práctica terminar la consulta con un punto y coma para indicar que la consulta está completa. Las palabras clave se escriben en mayúsculas y los nombres de tablas y campos se escriben en minúsculas.

In [ ]:
#Listar los paises dde la base de datos
query = '''SELECT * FROM Country;'''

countries = pd.read_sql(query, conn)
countries

In [28]:
conn = sqlite3.connect('/content/drive/MyDrive/TALENTO TECH/Practica_SQL/database.sqlite')

In [29]:
cursor = conn.cursor()

In [31]:
cursor.execute('''SELECT * FROM Country''')

In [32]:
resultados = cursor.fetchall()

In [33]:
for fila in resultados:
  print(fila)

(1, 'Belgium')
(1729, 'England')
(4769, 'France')
(7809, 'Germany')
(10257, 'Italy')
(13274, 'Netherlands')
(15722, 'Poland')
(17642, 'Portugal')
(19694, 'Scotland')
(21518, 'Spain')
(24558, 'Switzerland')